@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    color: #1b1b1b;
}

:root {
    --textColor_primary: #1b1b1b;
    --textColor_secondary: #575757;
    --textColor_tertiary: #f5f5f5;
    --mainColor_primary: #f3a700ff ;
    --mainColor_secondary: #000e6e ;

    --lowText_fontSize: 16px;
    --text_titleSize: 40px;
    --text_titleCard: 24px;

}

/* Header */

header {
    width: 100%;
    height: 100px;
    position: fixed;
    z-index: 100;
}

.container__header {
    max-width: 1200px;
    height: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;
}

.logo {
    display: contents;
    align-items: center;
    position: relative;
    z-index: 1;
}

.logo img {
    width: 200px;
}

.menu {
    display: flex;
    align-items: center;
}

.menu nav {
    margin: 0 20px;

}

.menu nav ul {
    display: flex;
    
}

.menu nav ul li {
    list-style: none;
    margin: 20px 16px;
    transition: position 2s, top 2s;
}

.menu nav ul li a {
    color: #000;   /* Variable */
    font-size: 16px; /* Variable */

    background-image: linear-gradient(rgb(0, 0, 0), rgb(0, 0, 0));
    background-position: 50% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .4s;


}

.menu nav ul li a:hover {
    background-size: 100% 2px;

}

/* Cover */


