@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    color: #1b1b1b;
}

:root {
    --text-color_primary: #1b1b1b;
    --text-color_secondary: #FF6E31;
    --text-color_tertiary: #f5f5f5;

    --main-color_primary: #243763 ;
    --main-color_secondary: #FF6E31 ;
    --main-color_tertiary: #FEDE00 ;
    --main-color_cuartary: #89aaff ;



    --lowText_fontSize: 16px;
    --text_title-size: 40px;
    --text_title-card: 24px; 
    --text_title-card2: 20px;
    --text_paragraph: 16px; 
    --box-shadow_primary: 0 6px 50px -20px rgba(0,0,0,0.2);

}

/* Header */

header {
    width: 100%;
    height: 100px;
    position: fixed;
    z-index: 100;
}

.container_header {
    max-width: 1200px;
    height: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;
}

.logo {
    display: contents;
    align-items: center;
    position: relative;
    z-index: 1;
}

.logo img {
    width: 200px;
}

.menu {
    display: flex;
    align-items: center;
}

.menu nav {
    margin: 0 20px;

}

.menu nav ul {
    display: flex;
    
}

.menu nav ul li {
    list-style: none;
    margin: 20px 16px;
    transition: position 2s, top 2s;
}

.menu nav ul li a {
    color: var(--text-color_primary);
    font-size: var(--lowText_fontSize);

    background-image: linear-gradient( var(--text-color_primary), var(--text-color_primary));
    background-position: 50% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .4s;


}

.menu nav ul li a:hover {
    background-size: 100% 2px;

}

/* Cover 
background-image: url(../img/manos-trigo.jpg);
    max-width: 100%;
    background-size: 100% ;
    background-repeat: no-repeat;
    background-position: center;
*/

.container_cover {
    padding: 100px 0 50px 0;
    background-color: var(--main-color_cuartary);
    

}

.cover {
    max-width: 1200px;
    margin: auto;
    display: flex;
    align-items: center;
    padding: 0 20px;
    height: 600px;

}

.text_cover {
    width: 100%;
    padding-right: 50px ;

}

.text_cover h1 {
    font-size: 50px;
    color: var(--text-color_tertiary)
    
}

.text_cover p {
    font-size: var(--text_paragraph);
    margin-top: 40px;
    color: var(--text-color_tertiary);

}

.img_cover img {
    height: 700px;
    
}


/* General Cards Styles */

.container_card {
    padding-top: 100px;
}

.title{
    max-width: 1200px;
    margin: auto;
    text-align: center;
    padding: 0px 20px;
}



.title-text p {
    color: var(--main-color_secondary);
    font-size: var(--text_paragraph);
    font-weight: 500;
    letter-spacing: 4px;
    margin-bottom: 10px ;
}

.title-text h2 {
    font-size: var(--text_title-size);
    font-weight: 600;
    color: var(--text-color_primary);
}

.container_box-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 40px;
}

.box_card {
    max-width: 350px;
    padding: 60px 40px;
    border: 1px solid #e6e6e6;
    border-radius: 20px;
    margin: 14px;
    transition: all 300ms;

}

.box_card:hover {
    border: 1px solid transparent;
    box-shadow: var(--box-shadow_primary);
}

.box_card h3 {
    font-size: var(--text_title-card);
    margin-top: 40px;
    font-weight: 500;
}

.box_card p {
    margin-top: 20px;
}


/* About Us */

.container_about {
    padding: 100px 0;
    background-color: #e1eaff;
    margin-top: 100px;

}

.about {
    max-width: 1200px;
    margin: auto;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.text_about {
    padding-right: 40px;
    width: 100%;

}

.text_about h2 {
    color: var(--text-color_primary);
    font-weight: 600;
    font-size: var(--text_title-size);
}

.text_about p {
    font-size: var(--text_paragraph);
    margin-top: 40px;
    color: var(--text-color_primary);
}

.img_about {
    width: 100%;
    display: flex;
}

.img_about img {
    width: 600px;
}

/* shedule */

.doble {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
}

/* Contact Card */

.contact_card {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 700px;
    height: 400px;
    max-width: 1200px;
    margin: 30px auto;
}

.contact_card div {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    backface-visibility: hidden;
    transition: 1s;
}

.contact_card .front {
    background-color: var(--main-color_primary);
    transform: perspective(1000px) rotateY(0deg);
}

.contact_card .back {
    background-color: var(--main-color_primary);
    transform: perspective(1000px) rotateY(180deg);
}

.contact_card:hover .front {
    
    transform: perspective(1000px) rotateY(180deg);
}

.contact_card:hover .back {
    
    transform: perspective(1000px) rotateY(360deg);
}




